@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700;1,800&display=swap');
.article-header{
    text-align: center;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 46px;
    margin-bottom: 10px;
}

.article-links:hover {
    background-color: black;
    color: #F1F3F3;
    transition: 0.5s;
}

.article-header:hover {
    background-color: black;
    color: #F1F3F3;
    transition: 0.5s;
}
.description {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 24px;
}

.article-links {
    color: black;
    text-decoration: none;
}

.image {
    filter: grayscale(100%);
    width: 100%;
    object-fit: cover;
}

.image:hover{
    filter: grayscale(0);
    transition: 0.5s;
}

@media (max-width: 480px) {
    .article-header{
        font-size: 24px;
    }
  
  }